.navbar-navigator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 7%;
    background: linear-gradient(-45deg, #1e1667, #422d95, #5236be, #9947d7);
	background-size: 400% 400%;
	animation: bg-animation 6s ease infinite;
}

@keyframes bg-animation {
	0% {
		background-position: 0% 50%;
        filter: hue-rotate(0deg);
	}
	50% {
		background-position: 100% 50%;
        filter: hue-rotate(-5deg);
	}
	100% {
		background-position: 0% 50%;
        filter: hue-rotate(0deg)
	}
}


.logo {
    width: 160px;
    cursor: pointer; 
    transition: all 0.2s ease-in;
}

.logo:hover {
    filter: brightness(125%) contrast(125%) drop-shadow(0px 5px 4px #0f00ef);
    transition: all 0.1s ease-out;
}


.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-right: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: clamp(1rem, 5vw, 2.3rem);
    display: flex;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    animation: hueshift 6s ease-in-out infinite;
    white-space: nowrap;
}

@keyframes hueshift {
	0% {
		filter: hue-rotate(0deg) drop-shadow(0px 5px 4px #0f002f);
	}
	33% {
		filter: hue-rotate(-5deg) drop-shadow(0px 7px 5px #0f002f);
	}
    66% {
        filter: hue-rotate(5deg) drop-shadow(0px 7px 6px #0f002f);
    }
	100% {
		filter: hue-rotate(0deg) drop-shadow(0px 5px 4px #0f002f);
	}
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    width: 100vw;
    justify-content: stretch
}

.nav-item {
    height: 150px;
}

.nav-links {
    color: #fff;
    text-shadow: 0px 2px 2px #0f002f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 28px;
    padding: 0.5rem 1rem;
    height: 100%;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
}

.nav-links:hover {
	background: linear-gradient(45deg, #2c5d8b, #3c81c5, #417ad5, #624dd6);
	background-size: 400% 400%;
	animation: bg-animation 5s ease infinite;
    border-bottom: 5px solid #fff;
    transition: all 0.2s ease-out;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 12px rgba(50,150,200,0.4);
}

.fa-bars {
  color: #fff;
    display: flex;
    padding: 25px 10px;
    filter: drop-shadow(0px 5px 4px #0f002f);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 172px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: linear-gradient(45deg, #1c4d5b, #2c51a5, #215ab5, #422da6);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        border-radius: 0;
    }

    .logo {
        width: 160px;
        cursor: pointer;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        display: flex;
        padding: 25px 12px;
        filter: drop-shadow(0px 5px 4px #0f002f);
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}
